  <!-- Video Player Area -->
  <div class="video-play-area">
    <div class="container">
        <div class="shape" style="background-image: url(assets/img/video-play/bg.png);"></div>
        <div class="shape-02" style="background-image: url(assets/img/video-play/bg-02.png);"></div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="video-player-inner">
                    <!--<img src="assets/img/video-play/01.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=-ZwQtICNbRc" class="play-icon video-play mfp-iframe">
                        <i class="fas fa-play"></i>
                    </a>-->

                    <video controls width="1000">
                    
                        <source src="assets/videos/Video-Meet-Halfway-final.mp4"
                                type="video/mp4">
                    
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>