
    <div class="contact-details">
      <div class="row">
        <div class="col">
          <div class="media left">
            
          
            <div class="media-right">
              <ul>
                <li style="display: none;"><a class="icon-btn btn-light button-effect mute" href="#"><i class="fa fa-volume-up"></i></a></li>
                <li style="display: none;"><a class="icon-btn btn-light search search-right" href="#"> <i data-feather="search"></i></a> </li>
                <li><a class="icon-btn btn-light button-effect mobile-sidebar" href="#"><i data-feather="chevron-left"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col"> 
         
        </div>
      </div>
    </div>
    <div class="contact-chat">
      <div class="rightchat animat-rate">
        <div class="bg_circle">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="cross"></div>
        <div class="cross1"></div>
        <div class="cross2"></div>
        <div class="dot"></div>
        <div class="dot1"> </div>
      </div>
    </div>
    <div class="call-list-center"><img src="assets/images/chat.png" alt=""/>
      <div class="animated-bg"><i></i><i></i><i></i></div>
      <p>  </p>
    </div>
