    <!-- Call To Action -->
    <div class="call-to-action-area bg-image" style="background-image: url(assets/img/call-to-action/bg.html);">
        <div class="container">
            <div class="call-to-action-inner style-03">
                <div class="shape"></div>
                <div class="shape-02"></div>
                <div class="shape-03"></div>
                <div class="shape-04" style="background-image: url(assets/img/call-to-action/animation/ball.png);"></div>
                <div class="shape-05" style="background-image: url(assets/img/call-to-action/animation/shape.png);"></div>
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="content">
                            <h2 class="title">{{'pageAccueil.callToActionTitle' | translate}}</h2>
                        </div>

                        <app-buttom-start [classCustom]="'padding-top-30'" [styleCustom]="'border-radius: 10px;'"></app-buttom-start>
                    </div>
                </div>
            </div>
        </div>
    </div>