<aside class="chitchat-left-sidebar left-disp">
    <div class="recent-default dynemic-sidebar active">
      
      <div class="chat custom-scroll">
        <ul class="chat-cont-setting">
          <li> 
              <a href="#" data-toggle="modal" data-target="#msgchatModal"><span>Direct</span>
              <div class="icon-btn btn-outline-primary button-effect btn-sm">
                <i data-feather="message-square"></i></div></a>
            </li>

            <li> 
                <a href="#" data-toggle="modal" data-target="#msgchatModal"><span>Groupe</span>
                <div class="icon-btn btn-outline-primary button-effect btn-sm">
                  <i data-feather="message-square"></i></div></a>
              </li>
        </ul>
        <div class="theme-title">
          <div class="media">
            <div> 
              <h2>Meethalfway</h2>
              <h4>Messenger</h4>
            </div>
            <div class="media-body text-right">  
              <a class="icon-btn btn-light btn-sm button-effect mode" href="#" data-tippy-content="Theme Mode" data-intro="Change mode"><i class="fa fa-moon-o"></i></a>
              <a class="icon-btn btn-primary btn-fix chat-cont-toggle outside" href="#"><i data-feather="plus"></i></a>
            </div>
          </div>
        </div>
        <div class="theme-tab tab-sm chat-tabs">     
       
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab"> 
              <div class="theme-tab">       
                <ul class="nav nav-tabs" id="myTab1" role="tablist">
                  <li class="nav-item"><a class="nav-link button-effect active" id="direct-tab" data-toggle="tab" href="#direct" role="tab" aria-controls="direct" aria-selected="false" data-to="blank">Direct</a></li>
                  <li class="nav-item"><a class="nav-link button-effect" id="group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="true" data-to="group_chat">Group</a></li>
                </ul>
                <div class="tab-content" id="myTabContent1">
                  <div class="tab-pane fade show active" id="direct" role="tabpanel" aria-labelledby="direct-tab"> 
                    <div class="search2">
                      <div>
                        <div class="input-group">
                          <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                          <input class="form-control" type="text" placeholder="Rechercher..."/>
                        </div>
                      </div>
                    </div>
                    <ul class="chat-main">
                      <li data-to="blank">
                        <div class="chat-box">
                          <div class="profile offline"><img class="bg-img" src="assets/images/contact/1.jpg" alt="Avatar"/></div>
                          <div class="details">
                            <h5>Josephin water</h5>
                            <h6>Hi, i am josephin. How are you.. ! There are many variations of passages.</h6>
                          </div>
                          <div class="date-status"><i class="ti-pin2"></i>
                            <h6>22/10/19</h6>
                            <h6 class="font-success status"> Seen</h6>
                          </div>
                        </div>
                      </li>
                      <li class="active" data-to="chating">
                        <div class="chat-box">
                          <div class="profile online"><img class="bg-img" src="assets/images/contact/2.jpg" alt="Avatar"/></div>
                          <div class="details">
                            <h5>Jony Lynetin</h5>
                            <h6>Typing................</h6>
                          </div>
                          <div class="date-status"><i class="ti-pin2"></i>
                            <h6>30/11/19</h6>
                            <div class="badge badge-primary sm">8</div>
                          </div>
                        </div>
                      </li>
                      
                    
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab"> 
                    <div class="search2">
                      <div>
                        <div class="input-group">
                          <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                          <input class="form-control" type="text" placeholder="Rechercher..."/>
                        </div>
                      </div>
                    </div>
                    <ul class="group-main">
                      <li class="active" data-to="group_chat">
                        <div class="group-box">
                          <div class="profile"><img class="bg-img" src="assets/images/avtar/teq.jpg" alt="Avatar"/></div>
                          <div class="details">
                            <h5>Tech Ninjas</h5>
                            <h6>Lorem Ipsum is simply dummy text the printing and typesetting industry.</h6>
                          </div>
                          <div class="date-status">
                            <ul class="grop-icon">
                              <li><a class="group-tp" href="#" data-tippy-content="Josephin"> <img src="assets/images/contact/1.jpg" alt="group-icon-img"/></a></li>
                              <li><a class="group-tp" href="#" data-tippy-content="Jony "> <img src="assets/images/contact/2.jpg" alt="group-icon-img"/></a></li>
                              <li><a class="group-tp" href="#" data-tippy-content="Pabelo"> <img src="assets/images/contact/3.jpg" alt="group-icon-img"/></a></li>
                              <li>+ 35</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li data-to="group_blank">
                        <div class="group-box">
                          <div class="profile"><img class="bg-img" src="assets/images/avtar/family.jpg" alt="Avatar"/></div>
                          <div class="details">
                            <h5>Family Ties</h5>
                            <h6>Lorem Ipsum is simply dummy text the printing and typesetting industry.</h6>
                          </div>
                          <div class="date-status">
                            <ul class="grop-icon">
                              <li><a class="group-tp" href="#" data-tippy-content="Josephin"> <img src="assets/images/contact/1.jpg" alt="group-icon-img"/></a></li>
                              <li><a class="group-tp" href="#" data-tippy-content="Jony "> <img src="assets/images/contact/2.jpg" alt="group-icon-img"/></a></li>
                              <li><a class="group-tp" href="#" data-tippy-content="Pabelo"> <img src="assets/images/contact/3.jpg" alt="group-icon-img"/></a></li>
                              <li>+ 12</li>
                            </ul>
                            <div class="badge badge-primary"></div>
                          </div>
                        </div>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
   
  </aside>