

<app-header-brand-area></app-header-brand-area>

<app-logo-partner></app-logo-partner>

<app-cities-feature></app-cities-feature>

<app-why-choose></app-why-choose>

    <!-- testimonial area start  -->
<section class="testimonial-area margin-top-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="lifestyle-testimonial">
                        <div class="section-title brand margin-bottom-55">
                            <h3 class="title">{{'pageAccueil.ourConceptTitle' | translate}}</h3>
                            <p>{{'pageAccueil.ourConceptDescription' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
    <!-- testimonial area end -->

<app-our-concept-video></app-our-concept-video>

<app-proces-concept></app-proces-concept>

<app-call-to-action></app-call-to-action>

<app-articles-blog></app-articles-blog>
