<!--Build Us -->
<div id="why" class="unique-project-area padding-top-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="unique-content-area">
                    <div class="section-title brand">
                        <h4 class="title">{{'pageAccueil.process1Title' | translate}}</h4>
                        <p>Meet Halfway utilise une intelligence artificielle afin de 
                            trouver le lieu le plus consensuel pour tous. En quelque clics nous vous proposons des destinations les plus optimisées 
                        par rapport aux contraires de votre groupe.
                        </p>
                        <ul class="content">
                            <li><i class="far fa-bookmark"></i><strong>Mise à jour des prix automatique </strong>Plus besoin de relancer les recherches à chaque minute, nous le faisons pour vous</li>
                            <li><i class="fas fa-briefcase"></i><strong>Simple d'utilisation </strong> L'user experience la plus avancée pour les groupes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shape" >
                    <div class="shape-02"></div>
                    <div class="build-img bg-image-02 wow animate__animated animate__backInUp" style="background-image: url(assets/img/illustration-recherche-2.png);"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Create Content-->
<div class="unique-project-area padding-top-120 padding-bottom-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="shape">
                    <div class="shape-02 style-01"></div>
                    <div class="build-img bg-image-02 wow animate__animated animate__backInUp" style="background-image: url(assets/img/illustration--ensemble-1.png);"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="unique-content-area">
                    <div class="section-title brand">
                        
                        <h4 class="title">Retrouvez-vous dans la ville que vous avez choisi ensemble</h4>
                        <p>Nous vous proposons l'ensemble des possibilités de destinations afin de vous assurez de faire le meilleur choix pour votre groupe</p>
                        
                        <ul class="content">
                            <li><i aria-hidden="true" class="fas fa-check"></i><strong>Messagerie instantanée </strong> Un espace dedié pour échanger sans limite à propos de vos prochaines retrouvailles</li>
                            <li><i aria-hidden="true" class="fas fa-check"></i><strong>Système vote </strong> Voter pour votre destination préféré, votre avis est toujours pris en compte.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>