<div class="Travelers" >

        <div class="mt-1">
            <app-wizard-step-tailwind-css [stepCurrent]="stepCurrent"
                                            [stepsConfiguration]="stepsConfiguration" 
                                            (selecteStep)="selecteStep($event)">
            </app-wizard-step-tailwind-css>
        </div>
 
 
        <ng-container [ngSwitch]="stepCurrent">

            <h2 *ngSwitchCase="1">Quelles sont vos noms et stations de départ ?</h2>
            <h2 *ngSwitchCase="2">Choisissez les dates</h2>
            <h2 *ngSwitchCase="3">Choisissez 3 destinations en cliquant sur l'image</h2>

            <h2 *ngSwitchCase="4" >
              <ng-container  *ngIf="createdUserData">

                            Voici la selection de {{ createdUserData.fullname }} il vous reste plus qu'à voter
                
              </ng-container>
            </h2>

            <div class="container mb-5 mt-5" *ngSwitchCase="1">
                <div class="row">
        
                        <div class="col-lg-3 mb-3" *ngFor="let card of cardDataNotEmpty; let i=index;">
                            <app-traveler-card-info (deleteMe)="onClickDeleteCardTravelers($event)"
                                                    [card]="card"  [stations]="stations" (addGareTodata)="addGareTodata($event)">
                            </app-traveler-card-info> 
                        </div>

                        
                        <div class="AddTraveler" style="margin-left:15px;margin-top: 50px;margin-bottom: 15px;" (click)="onClickAddCardTravelers()"></div>
                      
        
                </div>
            </div>

            <div class="container mb-5 mt-5" *ngSwitchCase="2">
                <div class="row justify-content-center">
        
                        <div class="col-lg-3  mb-3">
                            <div class="relative text-gray-600">

                                <label for="departureAt" >Date de départ</label>

                                <input type="text"  name="loop_request" 
                                        placeholder="Date de départ"  bsDatepicker
                                        [bsConfig]="bsConfig"  class=" new_loop_request_date form-control focus:outline-none"
                                        autocomplete="off" [(ngModel)]="dateDebut"
                                        [minDate]="dateNowPlusOne">
                            </div>
                        
                         </div>
                        <div class="col-lg-3 mb-3">
                            <div class="relative text-gray-600">
                                <label for="returnAt" >Date de retour</label>
                            
                                <input type="text" name="loop_request" id="returnAt" 
                                        placeholder="Date de retour" bsDatepicker
                                        [bsConfig]="bsConfig" class="new_loop_request_date form-control focus:outline-none"
                                        autocomplete="off" [(ngModel)]="dateFin"
                                        [minDate]="dateDebut">
                            </div>
                        
                        </div>
        
                    
                </div>
            </div>

            <div class="container mb-5 mt-5" *ngSwitchCase="3">
                <div class="row justify-content-center" >

                    <div class="col-lg-12 mb-3 mapButtonCustom" style="margin: auto;align-items: end;text-align: end;">
                        <label for="toggle" class="text-xs text-gray-700">Voir sur la carte</label>
                        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                            <input type="checkbox" (change)="onClickDisplayCarte()" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
                            <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                        </div>

                    </div>
        
                    <div class="ResultsControls">
                        
                        <div class="relative inline-flex SwitchButton">
                            <select class="border border-orange-300 rounded-full text-orange-600 h-10 w-full pl-5 pr-10 bg-orange 
                                            hover:border-orange-400 focus:outline-none appearance-none cursor-pointer"
                                             [(ngModel)]="modeDestinations" (change)="onePepoleMove()">
                                <option value="every">Destinations où tout le monde bouge</option>
                                <option value="onePeople">On se voit chez quelqu'un</option>
                            </select>
                        </div>

                        <div class="TravelResults_Selection__hoAZU" *ngFor="let choix of choixUser">
                            <div class="TravelResults_SelectionItem__15KDO" > {{ choix.title }}
                                <div class="TravelResults_CloseSelectionItem__2_B9M cursor-pointer" (click)="deleteprocess(choix)"></div> 
                            </div>
                           
                        </div>

                        
                    
                    </div>

                    
        
                    <div class="col-lg-12 text-center mb-3 mt-3" style="display:none;">
                        <h2 >La magie opère, veuillez patienter</h2>
                            <div class="Spinner">
                                <span>10%</span>
                                <div class="Loader">
                                </div>
                            </div>
                            
                    </div>
                    
                </div>

                <div class="row" *ngIf="!displayCarte">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let destination of cardDestinations">
                      <app-card-destination [card]="destination" 
                      [userVoyageur]="originUsers"
                      [modeDestinations]="modeDestinations"
                      (seeSelected)="onClickSelected($event)" 
                      [cardDataNotEmpty]="cardDataNotEmpty"></app-card-destination>
                    </div>
                    
                </div>
                <div class="containerWithMapAndListing" *ngIf="displayCarte">

                    <div class="listingsDestinations">
                      <div class="itemCustom" style="margin-left:50px; width:70%;" *ngFor="let destination of cardDestinations">
                        <app-card-destination [card]="destination" 
                                    [userVoyageur]="originUsers"
                                    [cardDataNotEmpty]="cardDataNotEmpty"
                                    [modeDestinations]="modeDestinations"
                                    (seeSelected)="onClickSelected($event)" 
                                    (mouseOverEvent)="mouseOverEvent($event)" >
                                  </app-card-destination>
                        
                        
                      </div>
                   </div>

                    <div class="mapContainer">
                      <div id="map" class="map-container"> </div>
                    </div>
                 

                      
                
                </div>

                

            </div>

            <div class="container mb-5 mt-5" *ngSwitchCase="4">
              <div class="row justify-content-center" >

                  <div class="col-lg-12 mb-3 mapButtonCustom" style="margin: auto;align-items: end;text-align: end;">
                      <label for="toggle" class="text-xs text-gray-700">Voir sur la carte</label>
                      <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                          <input type="checkbox" (change)="onClickDisplayCarte()" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
                          <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                      </div>

                  </div>
      
                  
                  <div class="col-lg-12 " style="margin: auto;align-items: center;text-align: center;">
                    <button  class="SubmitButton bg-gray-300" style="font-family: 'Raleway';" 
                            (click)="openModalBilanVote(bilanVote)" *ngIf="choixUser.length > 1">Bilan des votes</button>
                </div>
                  
              </div>

              <div class="row" *ngIf="!displayCarte">
                  <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let destination of choixUser">
                    <app-card-destination [card]="destination" 
                    [userVoyageur]="originUsers"
                    [modeDestinations]="modeDestinations"
                    (seeSelected)="onClickSelected($event)" 
                    [cardDataNotEmpty]="cardDataNotEmpty"></app-card-destination>
                  </div>
                  
              </div>
              <div class="containerWithMapAndListing" *ngIf="displayCarte">

                  <div class="listingsDestinations">
                    <div class="itemCustom" style="margin-left:50px; width:70%;" *ngFor="let destination of choixUser">
                      <app-card-destination [card]="destination" 
                                  [userVoyageur]="originUsers"
                                  [cardDataNotEmpty]="cardDataNotEmpty"
                                  [modeDestinations]="modeDestinations"
                                  (seeSelected)="onClickSelected($event)" 
                                  (mouseOverEvent)="mouseOverEvent($event)" >
                                </app-card-destination>
                      
                      
                    </div>
                 </div>

                  <div class="mapContainer">
                    <div id="map" class="map-container"> </div>
                  </div>
               

                    
              
              </div>

              

          </div>

        </ng-container> 


        <div class="container mb-5 mt-5">

            <div class="row justify-content-center">
                <div class="col-lg-4 text-end col-4" *ngIf="stepCurrent > 1">
                    <button  class="PrevButton" (click)="onClickStepPrev()">Préccedent</button>
                </div>
                <div class="col-lg-4 text-start col-4">
                    <button  class="SubmitButton" (click)="onClickStepNext(modalProject)" [innerText]="nextText"></button>
                </div>
    
            </div>

        </div>

     
</div>


<ng-template #modalProject>

        <!-- pannel sauvegarder -->
      
       <div class="w-full mx-auto  p-4" style="background-color: #fff;background-position: center 40px;
       background-size: auto 250px;"  *ngIf="!projectUuid">
                <img src="assets/images/deux-filles.png" style="width: 130px;margin:auto;align-items: center;">
               
                <div class="flex gap-2 flex-col md:flex-row center mt-3" >
                  <div class="relative flex-1">
                    <input id="departure"[(ngModel)]="nameOfProjet"  name="departure" type="text" class="peer h-10 w-full border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-red-600 focus:border-2 p-3" placeholder="Donner un nom à votre projet" />
                    <label for="departure" style="font-weight: bold;" class="absolute left-2 px-1 -top-2.5 text-red-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-900 peer-placeholder-shown:top-2 peer-focus:-top-2.5 peer-focus:text-red-600 peer-focus:text-sm">Donner un nom à votre projet:</label>
                    <div class="absolute right-0 top-0 mt-2 mr-2 cursor-pointer" (click)=" nameOfProjet = ''">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </div>
                  </div>
                 
                </div>
                <div class="flex justify-center mt-6">
                  <span style="color:red;" *ngIf="errorName">Le champs est requis</span>
                  <button class="text-white font-extrabold text-lg  px-6 py-3"
                         style=" background-color: #ffa45e;border-radius: 5px;border: 1px solid transparent;" (click)="onClickSaveProjet()">
                    Sauvegarder
                </button>
                </div>
        </div>

        <!-- pannel ratings -->
      
       <div class="w-full mx-auto  p-4" style="background-color: #fff;background-position: center 40px;background-size: auto 250px;" 
                                                *ngIf="(projectUuid && !voteDeja && (choixUser.length > 1)) || updateVote">

        <img src="assets/images/garcon-ordi.png" style="width: 130px;margin:auto;align-items: center;">
               

                <h3 style="margin:auto; align-items:center; text-align: center;">Faites vos votes</h3>

                      <div class="container mx-auto mt-2" *ngFor="let vote of choixUser; let i=index;">
                    
                            <div class="relative inline-flex SwitchButton">
                            <select class="border border-orange-300 rounded-full text-orange-600 h-10 w-full pl-5 pr-10 bg-orange 
                                            hover:border-orange-400 focus:outline-none appearance-none cursor-pointer"
                                            (change)="changeVilleVote($event, (i+1))">

                                <option value="0" [innerText]="'Selectionner votre choix '+ (i+1)" [selected]="initSelectVote"></option>
                                <option  *ngFor="let ville of choixUser;" 
                                          [value]="ville.uuid" [innerText]="ville.title" [disabled]="alreadyCheckVoteVille(ville.uuid)"></option>
                            </select>
                        </div>
                    
                    </div>
               
               
               
                <div class="flex justify-center mt-6">

                  <button class="text-white font-extrabold text-sm  px-6 py-3 mr-1"
                         style=" background-color: #35989b;border-radius: 5px;border: 1px solid transparent;" (click)="resetVote()">
                     Rénitialiser
                  </button>
                  
                    <button class="text-white font-extrabold text-lg  px-6 py-3"
                         style=" background-color: #ffa45e;border-radius: 5px;border: 1px solid transparent;" (click)="voteOnSave(updateVote)">
                     Voter
                  </button>
                </div>
    </div>

     <!-- pannel share -->

     <div class="w-full mx-auto  p-4 social-buttons mb-3" *ngIf="checkIfSameUserCreateAndConnect()"> 

      <img src="assets/images/shareIllustration.png" style="width: 130px;margin:auto;align-items: center;">

            <h3  style="margin:auto; align-items:center; text-align: center;">Partager via </h3>
            
            <button class="neo-button mr-3 mt-2">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-messenger" class="h-6 w-6" style="margin: auto;"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z"></path></svg>
            </button>
            <button class="neo-button mr-3">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter-square" class="h-6 w-6" style="margin: auto;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path></svg>     
            </button>
            <button class="neo-button" (click)="onClickSendProjet('email', modalShare)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>
            </button> 
    </div>


</ng-template>


<ng-template #modalShare>

  
    <div class="w-full">
        <div class="mb-4 mt-3">
          <h3 style="margin:auto; align-items:center; text-align: center;">Entrer les differents mails</h3>

         

          <div class="flex justify-center mt-6">
                  <button  class="PrevButton mt-3" (click)="onClickAddCardSendMail()"> Ajouter Une autre personne 
                    <svg
                    viewBox="0 0 20 20"
                    enable-background="new 0 0 20 20"
                    class="w-6 h-6 inline-block"
                >
                    <path
                    fill="#FFFFFF"
                    d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                                        C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                                        C15.952,9,16,9.447,16,10z"
                    />
                </svg>
          </button>
        </div>

          
           
          <div class="flex mt-4" *ngFor="let user of sendEmailUsers;">
         
            <input type="email" [(ngModel)]="user.email" class="peer pt-8 border border-gray-200 focus:outline-none rounded-md focus:border-gray-500 focus:shadow-sm w-full p-3 h-16 mr-5 ml-5" placeholder="name@example.com" autocomplete="off" />
                  
              
              <button  style="background-color: #35989b;" (click)="onClickDeleteSendMail(user.index)"
              class="uppercase p-3 flex items-center text-blue-50 max-w-max shadow-sm hover:shadow-lg rounded-full w-10 h-10 "
            >
              <svg
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 32 32"
                style="transform: rotate(360deg);"
              >
                <path d="M12 12h2v12h-2z" fill="currentColor"></path>
                <path d="M18 12h2v12h-2z" fill="currentColor"></path>
                <path
                  d="M4 6v2h2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8h2V6zm4 22V8h16v20z"
                  fill="currentColor"
                ></path>
                <path d="M12 2h8v2h-8z" fill="currentColor"></path>
              </svg>
            </button>
           
          </div>

          <div class="flex justify-center mt-6">
              <span style="color:red;" *ngIf="errorName">Le champs est requis</span>
              <button class="text-white font-extrabold text-lg  px-6 py-3"
                    style=" background-color: #ffa45e;border-radius: 5px;border: 1px solid transparent;" (click)="onClickSendEmailProjet()">
                Envoyer
            </button>
          </div>

        </div>
        
      </div>




</ng-template>

<ng-template #bilanVote>

  <!-- pannel sauvegarder -->
      
  <div class="container mb-5 mt-5" *ngIf="bilanData.length >= 1">
           
          
           <div class="row mb-4" >

                    <div class="col-lg-3" style="visibility: hidden;">
                      chlsfdkjfqd
                    </div>

                    <div class="col-lg-3" *ngFor="let vote of choixUser; let i=index;">
                      <h4 [innerText]="'choix '+ (i+1)" 
                          style="color: hsl(182, 49%, 41%);font-weight: 500;font-size: bold;"></h4> 
                    </div>             
                 
           </div>

           <ng-container *ngFor="let item of bilanData">

              <div class="row" >

                    <div class="col-lg-3" >
                        <div class="streamers">
                          <img [src]="item.photo" alt="" class="ml-3">

                          <span class="ml-3 mt-2" style="color:#ffa45e" 
                                [innerText]="item.name"></span> 
                        </div>
                    </div>

                    <div class="col-lg-3" *ngFor="let vote of choixUser; let i=index;">
                      <span [innerText]="getChoixData(item.choix, (i+1))"></span> 
                    </div>             
            
              </div>

           </ng-container>

          
           
   </div>

   <div class="container mb-5 mt-5" *ngIf="!bilanData.length || bilanData.length < 1">
           
          
        <div class="row mb-4" >

                <div class="col-lg-12">
                  <h1>Pas de vote pour l'instant</h1>
                </div>      
        </div>
  
  </div>

</ng-template>

